/venv/
/app/
/aws/
/csv/
__pycache__
fastapi.pem
putty.ppk
backend.zip
tempfiles
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Python configuration files
config.py
# credentials folder 
/credentials/