/venv/
/app/
/aws/
/csv/
__pycache__
fastapi.pem
putty.ppk
backend.zip
tempfiles
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Python configuration files
config.py
# ignore aws credentials files
a2gac7ap3hk6n-ats.iot.eu-west-2.amazonaws.com
AmazonRootCA1 (1).pem
9343eecbd39fc8666c2dceff21b308511388e4812042b6a58374f20885f45b57-certificate.pem.crt
9343eecbd39fc8666c2dceff21b308511388e4812042b6a58374f20885f45b57-private.pem.key
9343eecbd39fc8666c2dceff21b308511388e4812042b6a58374f20885f45b57-public.pem.key
AmazonRootCA3 (1).pem
# google api
client_secret_1028475286088-bj03n932hpj20nhpmo2qp9ljdndhjueb.apps.googleusercontent.com.json
token_gmail_v1.pickle
token_tasks_v1.pickle
