<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sofia</title>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo.PNG') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="wrapper grid"
      style="
        background-image: url('../static/img/Logo.PNG');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 70%;
        background-position-y: center;
        background-size: 30%;
      "
    >
      <div class="presentation flex-column">
        <h1>Hello My Name is Sofia.</h1>
        <p>And I am your Virtual Assistant.</p>
        <div class="flex-column">
          <a href="https://github.com/kesler20/Sofia/blob/master/Context/speaker.py" class="btn secondary-btn">
            View Commands
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 15 15"
              width="12"
              height="12"
              style="margin-left: 0.33em"
            >
              <g
                stroke="currentColor"
                stroke-width="1.75"
                fill="none"
                fill-rule="evenodd"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M4.497 1H3a2 2 0 00-2 2v9a2 2 0 002 2h9a2 2 0 002-2v-1.5h0"
                  opacity=".6"
                ></path>
                <path d="M9 1.008L14 1v5M14 1L6 9"></path>
              </g>
            </svg>
          </a>
          <a href="../listening">
            <button type="submit" class="btn primary-btn">
              Start Listening
            </button>
          </a>
          <a href="../diet">
            <button class="btn primary-btn" type="submit">Go To Diet</button>
          </a>
          <a href="../silent">
            <button class="btn primary-btn" type="submit">Silent Sofia</button>
          </a>
        </div>
      </div>
      <div class="sofia-img flex-column">
        <img
          src="{{ url_for('static', filename='img/computer.png') }}"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </body>
</html>
