<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sofia - Intructions</title>
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="commands">
      <h1 class="command-presentation">Hello Kesler</h1>
      <h3 class="command-presentation">
        Here you can see some of the commands
      </h3>
      <table border="1" class="dataframe">
        <thead>
          <tr style="text-align: right">
            <th>Commands</th>
            <th>Functions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>gym</th>
            <td>start_gym_routine()</td>
          </tr>
          <tr>
            <th>stop</th>
            <td>stop_command = True</td>
          </tr>
          <tr>
            <th>music</th>
            <td>os.system( start youtube + command)</td>
          </tr>
          <tr>
            <th>timetable</th>
            <td>webcontroller.get_timetable()</td>
          </tr>
          <tr>
            <th>routine</th>
            <td>webcontroller.initialize_workflow()</td>
          </tr>
          <tr>
            <th>blackboard</th>
            <td>webcontroller.open_email_and_blackboard()</td>
          </tr>
          <tr>
            <th>website</th>
            <td>os.system(start google+command)</td>
          </tr>
          <tr>
            <th>email</th>
            <td>gmail_api.send_email(command)</td>
          </tr>
          <tr>
            <th>youtube</th>
            <td>os.system(start youtube)</td>
          </tr>
          <tr>
            <th>diet</th>
            <td>diet_routine()</td>
          </tr>
          <tr>
            <th>to do list</th>
            <td>add_tasks() (the pre-established ones)</td>
          </tr>
          <tr>
            <th>snippets</th>
            <td>os.system(start Templates_and_Snippets)</td>
          </tr>
          <tr>
            <th>task</th>
            <td>create_task(command)</td>
          </tr>
          <tr>
            <th>document</th>
            <td>os.system(start Documents)</td>
          </tr>
          <tr>
            <th>protocol</th>
            <td>os.system(start Protocol)</td>
          </tr>
          <tr>
            <th>downloads</th>
            <td>os.system(start Downloads)</td>
          </tr>
          <tr>
            <th>current working directory</th>
            <td>os.system(start os.getcwd()</td>
          </tr>
          <tr>
            <th>start and taskade and objectives</th>
            <td>os.system(start taskate)</td>
          </tr>
          <tr>
            <th>spotify and play</th>
            <td>os.system(start spotify + command)</td>
          </tr>
          <tr>
            <th>phd</th>
            <td>start_phd_session(logger)</td>
          </tr>
          <th>google accounts</th>
          <td>os.system('start google-accounts[gmail,calendar]')</td>
        </tbody>
      </table>
    </div>
    <script src="../static/js/index.js"></script>
  </body>
</html>
