<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sofia - Diet</title>
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="diet">
      <div class="search">
        <input
          type="text"
          placeholder="Search for food or a meal"
          name="food"
          id="food"
          data-search
        />
        <a href=""><i class="fa fas fa-search fa-2x"></i></a>
      </div>
      <div class="user-cards" data-user-cards-container></div>
      <template data-user-template>
        <div class="card">
          <div class="header" data-header></div>
          <div class="body" data-body></div>
        </div>
      </template>
    </div>
    <script src="../static/js/index.js"></script>
  </body>
</html>
