<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5%;
        height: 50vh;
        width: 96%;
        flex-direction: column;
      "
    >
      <form method="post">
        <input
          type="text"
          id="input-box"
          name="command"
          placeholder="Enter a Sofia Command"
        />
        <a>
          <button class="btn primary-btn" type="submit">Send command</button>
        </a>
      </form>
      <a href="/listening" id="listening-btn">
        <button class="btn primary-btn">Start Listening</button>
      </a>
    </div>
    <script>
      // get all the DOM elements required
      const inputBox = document.querySelector("#input-box");
      const listeningBtn = document.querySelector("#listening-btn");

      inputBox.focus();

      // store the sequence of keys pressed by the user
      let sequenceOfKeys = [];
      window.onkeydown = (e) => {
        sequenceOfKeys.push(e.key);
        if (sequenceOfKeys.length > 2) {
          sequenceOfKeys = [];
        }
        if (sequenceOfKeys.includes("Control") && sequenceOfKeys.includes("l")) {
          // if the sequence matches the desired click the listening btn
          console.log("clicked");
          listeningBtn.click();
        }
      };
    </script>
  </body>
</html>
